.Cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  padding: 0.1rem;
  border-top: var(--grid);
  border-left: var(--grid);
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  user-select: none;
  width: 100%;
  aspect-ratio: 1;
  border: 3px solid transparent;
  border-radius: 0;
  transition: color 0.25s, border-radius 0.5s,
    border-color 0.25s ease-in-out 0.25s;
}

.checked {
  border-color: var(--mark-checked);
  border-radius: 100%;
  transition: color 0.25s, border-radius 0.5s ease-in-out 0.1s,
    border-color 0.25s;
}

.deleted {
  border-color: var(--mark-deleted);
  border-radius: 100%;
  transition: color 0.25s, border-radius 0.5s ease-in-out 0.1s,
    border-color 0.25s;
  color: #666;
}
