:root {
  --font-family: Arial, Helvetica, sans-serif;
  --grid: 1px solid gray;
  --bg: radial-gradient(#010, #030);
  --bg-primary: black;
  --bg-secondary: #333;
  --mark-checked: lightgreen;
  --mark-deleted: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
